.target_name_contents {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.target_name {
  margin-right: 15px;
  font-family: sans-serif;
  color: #717375;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  gap: 0px 0px;
}

.item {
  flex: 1;
  text-align: center;
  font-size: larger;
}

p.name {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin: 0px 5px;
}

.flipIn {
  animation-name: flipInAnim;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 1s;
}

@keyframes flipInAnim{
  0% {
      transform: rotateX(-90deg);
  }
  100% {
      transform: rotateX(0deg);
  }
}

.flash {
  animation-name: flashAnim;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}

@keyframes flashAnim {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

button.item {
  border-radius: 50px;
  background-color: #33B0DD;
  color: white;
  cursor: pointer;
}

button.item:hover {
  background-color: #99C000;
}

button.item:active {
  border-style: inset;
}

p.item {
  background-color: #FF9000;
  color: white;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  margin: 0px 5px;
  padding: 0px, 30px;
}